<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Health Information Form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='form.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    
    <div class="container">
        <div class="language-toggle-container">
        <span class="language-label english">English</span>
        <label class="switch">
            <input type="checkbox" id="language-toggle">
            <span class="slider round"></span>
        </label>
        <span class="language-label french" style="opacity: 0.5;">Français</span>
        </div>
        <h1>Health Information Form</h1>
        <form>
            <label for="CountryCode">Country Code:</label>
            <select class="form-control" id="CountryCode" name="CountryCode" required>
                <option value=""></option>
                <option value="BFA">Burkina Faso (BFA)</option>
            </select>

            <label for="ProvinceOfResidence">Province of Residence:</label>
            <select id="ProvinceOfResidence" name="ProvinceOfResidence" required>
                <option value=""></option>
                <option value="Banfora">Banfora</option>
                <option value="Bobo">Bobo</option>
                <option value="Dedougou">Dedougou</option>
                <option value="Dori">Dori</option>
                <option value="Fada">Fada</option>
                <option value="Gaoua">Gaoua</option>
                <option value="Kaya">Kaya</option>
                <option value="Koudougou">Koudougou</option>
                <option value="Manga">Manga</option>
                <option value="Ouagadougou">Ouagadougou</option>
                <option value="Ouahigouya">Ouahigouya</option>
                <option value="Tenkodogo">Tenkodogo</option>
                <option value="Ziniare">Ziniare</option>
            </select>

            <label for="ReportingDistrict">Reporting District:</label>
            <select id="ReportingDistrict" name="ReportingDistrict" required></select>

            <label for="DateReceivedNatlevel">Date Received (National Level):</label>
            <input type="date" id="DateReceivedNatlevel" name="DateReceivedNatlevel" required>

            <label for="PatientsName">Patients Name:</label>
            <input type="text" id="PatientsName" name="PatientsName" required>

            <label for="DateOfBirth">Date of Birth:</label>
            <input type="date" id="DateOfBirth" name="DateOfBirth" required>

            <label for="Sex">Sex:</label>
            <select id="Sex" name="Sex" required>
                <option value=""></option>
                <option value="M">M</option>
                <option value="F">F</option>
            </select>

            <label for="Towncity">Town/City:</label>
            <select id="Towncity" name="Towncity" required></select>

            <label for="ReportingHealthfacility">Reporting Health Facility:</label>
            <input type="text" id="ReportingHealthfacility" name="ReportingHealthfacility" required>

            <button type="submit">Submit</button>
            <button type="button" id="importData">Import Data</button>
        </form>
        <input type="file" id="importFile" accept=".csv" style="display: none;">
    </div>
    <script src="{{ url_for('static', filename='form.js') }}"></script>
</body>
</html>
